/* Blurred BG Image */
.blurBox {
  cursor: pointer;
  position: relative;
}

.bg-blur {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 10%;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: blur(30px);
}

.loading-text {
  font-size: 2rem;
  color: white;
  position: absolute;
  z-index: 2;
}
/* Blurred BG Image - End */

.quote-container {
  width: 100%;
  max-width: 800px;
  opacity: 0;
  transition: opacity 1.5s;
}

.fadeIn {
  opacity: 1;
}

#quote {
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  text-align: justify;
  margin: 1rem 1.5rem;
}

#author {
  font-size: 1.2rem;
  display: flex;
  justify-content: right;
  margin-right: 1rem;
}

#box-main:hover {
  font-size: 1.1rem;
}

@media (max-width: 875px) {
  #quote {
    font-size: 1.2rem;
  }
  #author {
    font-size: 1rem;
  }
  .loading-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
}
